<!DOCTYPE html>
<html lang="en">

<!-- Include the header partial -->
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <div class="container">
                <h1 class="mt-5">Welcome Strix Invoice Rest Services</h1>
                <p>This is a Strix Invoice app Rest Services!</p>
            </div>

            <div class="container fs-4">
                <p>Server Up Time : <%= uptime %>.</p>
                <p>Status : <span class="text-success fw-bold">OK</span></p>
                <p>App Version : <%= version %></p>
            </div>
            <hr>
            <div class="container">
                <h2>Server Details :</h2>
                <ul>
                    <li>OS : <%= os %></li>
                    <li>Processor : <%= processor %></li>
                </ul>
            </div>

            <%- include('partials/footer') %>
                <%- include('partials/scripts') %>
    </body>

</html>